*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(black,red);
}
header{
    text-align: center;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    text-decoration-color: white;
    font-size: 7vw;
    font-weight: bold;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 3.2vw;
}
h6{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 2vw;
    text-align: center;
}
.contscelte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);
    margin: 0 auto;
}
.BoxScelta{
    background-color: black;
    display: flex;
    padding: 0.2em;
    border-radius: 1em;
    font: "Fira Sans",serif;
    font-size: 1.1vw;
    text-align: center;
    color: white;
    margin: 0.2em;
}
.FoglioScelte{
    width: 20vw;
    height: 12.8vw;
    color: white;
    font-size: 2.4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 6vw;
}
.Anteprima{
    width: 15vw;
    height: 15vw;
    object-fit: contain;
}
.Centratore
{
    display: flex;
    justify-content: center;
    padding: 1em;
}
#Conferma{
    background-color: blue;
}
#Torna{
    background-color: green; 
}